############################################

# bgrestore configuration file


# MariaDB host for restore
restorehost=localhost

# MariaDB port for restore
restoreport=3306

# MariaDB user for restore
restoreuser=bgbackup

# MariaDB password for restore
restorepass=password

# Directory to copy backup to for decompress/decrypt/restore (make sure it has enough space)
preppath=/backup/tmp

# MariaDB host for backup history
backuphisthost=localhost

# MariaDB port for backup history
backuphistport=3306

# MariaDB user for backup history
backuphistuser=bgbackup

# MariaDB password for backup history
backuphistpass=password

# MariaDB schema for backup history
backuphistschema=mdbutil

# MariaDB host which backup should be from
backuphost=hostname_from_backup_history

# Skip copy step, place backup in preppath after creating it. This will also make bgrestore delete the contents of the folder instead of the folder itself (after succeeding)
skipcopy=no

# Datadir
datadir=/var/lib/mysql

# Datadir owner
datadirowner=mysql

# Datadir group
datadirgroup=mysql

# Path to keep logs
logpath=/var/log

# Log to syslog
syslog=no

# Used for derypt/decompress
threads=4

# Comma separated list of email address to be notified.
maillist=ben@mariadb.com

# Email subject prefix
mailsubpre="[BGRestore]"

# Email (all or failure)
mailon=all

############################################
